---
---
<header class="site-header">
  <div class="container">
    <nav>
      <div class="logo">La Degust'</div>
      <div class="nav-links">
        <a href="/">Accueil</a>
        <a href="/presentation">Qui suis-je</a>
        <a href="/ateliers">Ateliers</a>
        <a href="/formations">Formations</a>
        <a href="/boutique">Boutique</a>
        <a href="/contact">Contact</a>
      </div>
      <a class="btn" href="https://www.wineactivities.net/api/1687181281041_fj8vdhcn6/">Réserver</a>
    </nav>
  </div>
</header>
